<div class="jumbotron  mt-4  animated fadeIn ">
    <h1 class="display-3">About this projet</h1>
    <h3>This Project show my skills to:</h3>
    <ul>
        <li>Started a project with Angular Cli</li>
        <li>Using TypeScript</li>
        <li>Using observables with rxjs</li>
        <li>Using Scss like precompiler to css</li>
        <li>Set Application Routing</li>
        <li>Set modules</li>
        <li>Set services</li>
        <li>Create a CRUD</li>
        <li>Using an API REST</li>
        <li>Using Firebase</li>
    </ul>
</div>